@model Ecommerce.Models.Customer

@{
    ViewData["Title"] = "Thêm khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index" class="breadcrumb-item">Quản lý khách hàng</a>
            <span class="breadcrumb-item active">Thêm khách hàng</span>
        </nav>
    </div>
</div>

<h3>Thêm khách hàng</h3>
<br />

<form asp-action="Create" asp-controller="AdminCustomers" method="post" enctype="multipart/form-data" accept-charset="UTF-8">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label class="font-weight-semibold" asp-for="CustomerName">Tên khách hàng</label>
                <input type="text" class="form-control" asp-for="CustomerName" placeholder="Tên khách hàng">
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-semibold" asp-for="AccountId">ID tài khoản <span class="font-italic">(nếu có)</span></label>
                <input type="text" class="form-control" asp-for="AccountId" placeholder="ID tài khoản">
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-semibold" asp-for="CustomerAddress">Địa chỉ</label>
                <input type="text" class="form-control" asp-for="CustomerAddress" placeholder="Địa chỉ nhà">
                <span asp-validation-for="CustomerAddress" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" asp-for="CustomerPhone">Số điện thoại</label>
                    <input type="text" class="form-control" asp-for="CustomerPhone" placeholder="Số điện thoại">
                    <span asp-validation-for="CustomerPhone" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" asp-for="CustomerEmail">Email</label>
                    <input type="text" class="form-control" asp-for="CustomerEmail" placeholder="Email">
                    <span asp-validation-for="CustomerEmail" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-semibold" asp-for="CustomerAvatar">Hình đại diện</label>
                <input name="file" type="file" class="form-control-file" asp-for="CustomerAvatar">
                <span asp-validation-for="CustomerAvatar" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" asp-for="CustomerBank">Ngân hàng</label>
                    <input type="text" class="form-control" asp-for="CustomerBank" placeholder="Ngân hàng">
                    <span asp-validation-for="CustomerBank" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" asp-for="CustomerBankAccount">Số tài khoản</label>
                    <input type="text" class="form-control" asp-for="CustomerBankAccount" placeholder="Số tài khoản">
                    <span asp-validation-for="CustomerBankAccount" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <a asp-action="Index" asp-controller="AdminCustomers" class="btn btn-primary">Quay lại</a> |
        <input type="submit" class="btn btn-warning" value="Thêm khách hàng" />
    </div>
</form>

