<footer>
    <div class="footer-wrapper grid-3-col">
        <div class="basic-info">
            <div class="logo">
                <a href=""><img src="~/user_assets/logo.svg" alt=""></a>
            </div>
            <div class="slogan">"All Ages, All Races, All Genders"</div>
            <div class="address">Based in Ho Chi Minh City</div>
            <div class="hotline"><span>Hotline:</span> <a href="tel:+0123456789">0123-456-789</a></div>
        </div>
        <div class="about-us" style="margin-top: 40px;">
            <div class="about-us-title" style="margin-bottom: 25px;">
                <h4>VỀ CHÚNG TÔI</h4>
            </div>
            <div class="introduction"><a href="/about-us.html" class="heavy-link">Giới thiệu</a></div>
            <div class="privacy-policy"><a href="/privacy.html" class="heavy-link">Chính sách bảo mật</a></div>
            <div class="terms-of-use"><a href="/terms-of-use.html" class="heavy-link">Điều khoản sử dụng</a></div>
        </div>
        <div class="page-support">
            <div class="page-support-title">
                <h4>HỖ TRỢ</h4>
            </div>
            <div class="most-asked-questions"><a href="/questions.html" class="heavy-link">Các câu hỏi thường gặp</a></div>
            <div class="contact-info"><a href="/contact.html" class="heavy-link">Thông tin liên hệ</a></div>
            <div class="delivery-policy"><a href="/delivery-policy.html" class="heavy-link">Chính sách vận chuyển</a></div>
            <div class="return-policy"><a href="/return-policy.html" class="heavy-link">Chính sách đổi trả</a></div>
        </div>
    </div>
    <div class="copyright">
        <div>Chịu trách nhiệm quản lý nội dung: PING Cosmetics - Số điện thoại: 0123-456-789</div>
        <div>&copy; 2023 - Bản quyền thuộc về PING Cosmetics</div>
    </div>
</footer>