<!--Header Starts Here-->
<div class="header-wrapper">
    <div class="header-container">
        <div class="logo-site">
            <a asp-action="Index" class="logo">
                <img src="~/user_assets/logo.svg" alt="logo">
            </a>
        </div>

        <div class="search-site">
            <div class="suggested-keywords">
                <a href="" class="white-anchor heavy-link">Nước tẩy trang</a>
                <a href="" class="white-anchor heavy-link">Kem chống nắng</a>
                <a href="" class="white-anchor heavy-link">Toner</a>
                <a href="" class="white-anchor heavy-link">Sữa rửa mặt</a>
                <a href="" class="white-anchor heavy-link">Tẩy tế bào chết</a>
                <a href="" class="white-anchor heavy-link">Cushion</a>
            </div>

            <div class="search-cart">
                <form action="">
                    <input type="text" placeholder="Tìm kiếm sản phẩm..." class="input-search" name="search">
                    <button type="submit" class="btn-submit-search">
                        <img src="~/user_assets/search-icon.svg" alt="Search">
                    </button>
                </form>
                <div class="item-header cart">
                    <a href="" class="white-anchor">
                        <img src="~/user_assets/cart-icon.svg" alt="">
                    </a>
                </div>
                <div class="item-header support">
                    <a href="" class="white-anchor">
                        <img src="~/user_assets/phone-icon.svg" alt="">
                    </a>
                    <a asp-controller="Home" asp-action="Contact" class="white-anchor heavy-link">Hỗ trợ <br> khách hàng</a>
                </div>
                <div class="item-header login-register">
                    <a href="" class="white-anchor">
                        <img src="~/user_assets/login-icon.svg" alt="">
                    </a>
                    <div class="text">
                        <a href="" class="white-anchor heavy-link">Đăng nhập</a>
                        <br>
                        <a href="" class="white-anchor heavy-link">Đăng ký</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Header Ends Here-->