<!--Top Bar Starts Here-->
<div class="top-bar">
    <a href="" class="category-fixed" style="font-weight: 600; background: #fff;">DANH MỤC</a>
    <div class="sub-nav">
        <button class="btn-sub-nav">Trang điểm mặt<i class="fa fa-caret-down"></i></button>
        <div class="sub-nav-content">
            <a href="/SubCategory/kem-nen" class="heavy-link">Kem nền</a>
            <a href="/SubCategory/cushion" class="heavy-link">Cushion</a>
            <a href="/SubCategory/ke-mat-ke-may" class="heavy-link">Kẻ mắt / Kẻ mày</a>
        </div>
    </div>
    <div class="sub-nav">
        <button class="btn-sub-nav">Chăm sóc da mặt <i class="fa fa-caret-down"></i></button>
        <div class="sub-nav-content">
            <a href="/SubCategory/sua-rua-mat" class="heavy-link">Sữa rửa mặt</a>
            <a href="/SubCategory/tay-trang" class="heavy-link">Tẩy trang</a>
            <a href="/SubCategory/toner" class="heavy-link">Toner</a>
            <a href="/SubCategory/duong-am" class="heavy-link">Dưỡng ẩm</a>
            <a href="/SubCategory/chong-nang" class="heavy-link">Chống nắng</a>
        </div>
    </div>
    <div class="sub-nav">
        <button class="btn-sub-nav">Chăm sóc tóc <i class="fa fa-caret-down"></i></button>
        <div class="sub-nav-content">
            <a href="/SubCategory/dau-goi" class="heavy-link">Dầu gội</a>
            <a href="/SubCategory/dau-xa" class="heavy-link">Dầu xả</a>
            <a href="/SubCategory/dau-duong-toc" class="heavy-link">Dầu dưỡng tóc</a>
            <a href="/SubCategory/thuoc-nhuom" class="heavy-link">Thuốc nhuộm</a>
        </div>
    </div>
    <div class="sub-nav">
        <button class="btn-sub-nav">Chăm sóc cơ thể <i class="fa fa-caret-down"></i></button>
        <div class="sub-nav-content">
            <a href="/SubCategory/sua-tam" class="heavy-link">Sữa tắm</a>
            <a href="/SubCategory/duong-the" class="heavy-link">Dưỡng thể</a>
        </div>
    </div>
    <div class="sub-nav">
        <button class="btn-sub-nav">Trang điểm môi <i class="fa fa-caret-down"></i></button>
        <div class="sub-nav-content">
            <a href="/SubCategory/son-moi" class="heavy-link">Son môi</a>
            <a href="/SubCategory/duong-moi" class="heavy-link">Dưỡng môi</a>
        </div>
    </div>
</div>
<!--Top> Bar Starts Here-->