   <!--Top Bar Starts Here-->
<div class="top-bar">
    <a href="" class="category-fixed" style="font-weight: 600; background: #fff;">DANH MỤC</a>
    <div class="sub-nav">
        <button class="btn-sub-nav">Trang điểm <i class="fa fa-caret-down"></i></button>
        <div class="sub-nav-content">
            <a href="" class="heavy-link">Kem nền</a>
            <a href="" class="heavy-link">Kem lót</a>
            <a href="" class="heavy-link">Son</a>
            <a href="" class="heavy-link">Kẻ mắt / Kẻ mày</a>
            <a href="" class="heavy-link">Dụng cụ</a>
        </div>
    </div>
    <div class="sub-nav">
        <button class="btn-sub-nav">Chăm sóc da <i class="fa fa-caret-down"></i></button>
        <div class="sub-nav-content">
            <a href="" class="heavy-link">Sữa rửa mặt</a>
            <a href="" class="heavy-link">Tẩy trang</a>
            <a href="" class="heavy-link">Toner</a>
            <a href="" class="heavy-link">Dưỡng ẩm</a>
            <a href="" class="heavy-link">Kem chống nắng</a>
        </div>
    </div>
    <div class="sub-nav">
        <button class="btn-sub-nav">Chăm sóc tóc <i class="fa fa-caret-down"></i></button>
        <div class="sub-nav-content">
            <a href="" class="heavy-link">Dầu gội</a>
            <a href="" class="heavy-link">Dầu xả</a>
            <a href="" class="heavy-link">Dầu dưỡng tóc</a>
            <a href="" class="heavy-link">Thuốc nhuộm</a>
        </div>
    </div>
    <div class="sub-nav">
        <button class="btn-sub-nav">Chăm sóc cơ thể <i class="fa fa-caret-down"></i></button>
        <div class="sub-nav-content">
            <a href="" class="heavy-link">Sữa tắm</a>
            <a href="" class="heavy-link">Body Scrub</a>
            <a href="" class="heavy-link">Lăn khử mùi</a>
            <a href="" class="heavy-link">Sữa dưỡng thể</a>
        </div>
    </div>
    <div class="sub-nav">
        <button class="btn-sub-nav">Nước hoa</button>
    </div>
    <div class="sub-nav">
        <button class="btn-sub-nav">Thực phẩm chức năng <i class="fa fa-caret-down"></i></button>
        <div class="sub-nav-content">
            <a href="" class="heavy-link">Hỗ trợ làm đẹp</a>
            <a href="" class="heavy-link">Hỗ trợ sức khỏe</a>
        </div>
    </div>
</div>
<!--Top> Bar Starts Here-->