<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown open">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Quản lý sản phẩm</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-action="Index" asp-controller="AdminProducts">Sản phẩm</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="javascript:void(0);">
                            <span>Danh mục</span>
                            <span class="arrow">
                                <i class="arrow-icon"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a asp-area="Admin" asp-action="Index" asp-controller="AdminCategory">Danh mục cha</a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-action="Index" asp-controller="AdminSubCategories">Danh mục con</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-action="Index" asp-controller="AdminBrands">Thương hiệu</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-shopping-cart"></i>
                    </span>
                    <span class="title">Quản lý đơn hàng</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-action="Index" asp-controller="AdminCustomers">
                    <span class="icon-holder">
                        <i class="anticon anticon-team"></i>
                    </span>
                    <span class="title">Quản lý khách hàng</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-controller="AdminBlog" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-form"></i>
                    </span>
                    <span class="title">Quản lý bài đăng</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-action="Index" asp-controller="AdminDiscounts">
                    <span class="icon-holder">
                        <i class="anticon anticon-gift"></i>
                    </span>
                    <span class="title">Quản lý khuyến mãi</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-hdd"></i>
                    </span>
                    <span class="title">Quản lý hệ thống</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">Quản lý tài khoản</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">Quản lý quyền truy cập</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-pie-chart"></i>
                    </span>
                    <span class="title">Thống kê doanh số</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="form-elements.html">Doanh số ngày</a>
                    </li>
                    <li>
                        <a href="form-layouts.html">Doanh số tuần</a>
                    </li>
                    <li>
                        <a href="form-validation.html">Doanh số tháng</a>
                    </li>
                    <li>
                        <a href="form-validation.html">Doanh số năm</a>
                    </li>
                </ul>
            </li>
            
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-lock"></i>
                    </span>
                    <span class="title">Authentication</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="login-1.html">Login 1</a>
                    </li>
                    <li>
                        <a href="login-2.html">Login 2</a>
                    </li>
                    <li>
                        <a href="login-3.html">Login 3</a>
                    </li>
                    <li>
                        <a href="sign-up-1.html">Sign Up 1</a>
                    </li>
                    <li>
                        <a href="sign-up-2.html">Sign Up 2</a>
                    </li>
                    <li>
                        <a href="sign-up-3.html">Sign Up 3</a>
                    </li>
                    <li>
                        <a href="error-1.html">Error 1</a>
                    </li>
                    <li>
                        <a href="error-2.html">Error 2</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>