
@{
    ViewData["Title"] = "Cẩm nang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-bottom: 80px; text-align: justify;">
    <!-- section title -->
    <h1 class="section-txt-title txt-center txt-bold">Cẩm nang</h1>
    <!-- section title ends -->
    <div class="row ">
        <div class="col-md-6">
            <div class="media blog-media">
                <a href=""><img class="d-flex" src="https://static.wixstatic.com/media/ec65fd_9a8603b8da2f43d7bf490bb0e27783ad~mv2.png/v1/fill/w_1000,h_1000,al_c,q_90,usm_0.66_1.00_0.01/ec65fd_9a8603b8da2f43d7bf490bb0e27783ad~mv2.png" alt="" width="250px" height="250px"></a>
                <div class="media-body">
                    <a href=""><h5 class="mt-0 txt-cyan">Standard Blog Post</h5></a>
                    Sodales aliquid, in eget ac cupidatat velit autem numquam ullam ducimus occaecati placeat error.
                    <a href="" class="post-link cyan-link">Read More</a>
                    <ul>
                        <li>Ngày đăng: 01/01/2023</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media blog-media">
                <a href=""><img class="d-flex" src="https://static.wixstatic.com/media/ec65fd_9a8603b8da2f43d7bf490bb0e27783ad~mv2.png/v1/fill/w_1000,h_1000,al_c,q_90,usm_0.66_1.00_0.01/ec65fd_9a8603b8da2f43d7bf490bb0e27783ad~mv2.png" alt="" width="250px" height="250px"></a>
                <div class="media-body">
                    <a href=""><h5 class="mt-0 txt-cyan">Standard Blog Post</h5></a>
                    Sodales aliquid, in eget ac cupidatat velit autem numquam ullam ducimus occaecati placeat error.
                    <a href="" class="post-link cyan-link">Read More</a>
                    <ul>
                        <li>Ngày đăng: 01/01/2023</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media blog-media">
                <a href=""><img class="d-flex" src="https://static.wixstatic.com/media/ec65fd_9a8603b8da2f43d7bf490bb0e27783ad~mv2.png/v1/fill/w_1000,h_1000,al_c,q_90,usm_0.66_1.00_0.01/ec65fd_9a8603b8da2f43d7bf490bb0e27783ad~mv2.png" alt="" width="250px" height="250px"></a>
                <div class="media-body">
                    <a href=""><h5 class="mt-0 txt-cyan">Standard Blog Post</h5></a>
                    Sodales aliquid, in eget ac cupidatat velit autem numquam ullam ducimus occaecati placeat error.
                    <a href="" class="post-link cyan-link">Read More</a>
                    <ul>
                        <li>Ngày đăng: 01/01/2023</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media blog-media">
                <a href=""><img class="d-flex" src="https://static.wixstatic.com/media/ec65fd_9a8603b8da2f43d7bf490bb0e27783ad~mv2.png/v1/fill/w_1000,h_1000,al_c,q_90,usm_0.66_1.00_0.01/ec65fd_9a8603b8da2f43d7bf490bb0e27783ad~mv2.png" alt="" width="250px" height="250px"></a>
                <div class="media-body">
                    <a href=""><h5 class="mt-0 txt-cyan">Standard Blog Post</h5></a>
                    Sodales aliquid, in eget ac cupidatat velit autem numquam ullam ducimus occaecati placeat error.
                    <a href="" class="post-link cyan-link">Read More</a>
                    <ul>
                        <li>Ngày đăng: 01/01/2023</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media blog-media">
                <a href=""><img class="d-flex" src="https://static.wixstatic.com/media/ec65fd_9a8603b8da2f43d7bf490bb0e27783ad~mv2.png/v1/fill/w_1000,h_1000,al_c,q_90,usm_0.66_1.00_0.01/ec65fd_9a8603b8da2f43d7bf490bb0e27783ad~mv2.png" alt="" width="250px" height="250px"></a>
                <div class="media-body">
                    <a href=""><h5 class="mt-0 txt-cyan">Standard Blog Post</h5></a>
                    Sodales aliquid, in eget ac cupidatat velit autem numquam ullam ducimus occaecati placeat error.
                    <a href="" class="post-link cyan-link">Read More</a>
                    <ul>
                        <li>Ngày đăng: 01/01/2023</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media blog-media">
                <a href=""><img class="d-flex" src="https://static.wixstatic.com/media/ec65fd_9a8603b8da2f43d7bf490bb0e27783ad~mv2.png/v1/fill/w_1000,h_1000,al_c,q_90,usm_0.66_1.00_0.01/ec65fd_9a8603b8da2f43d7bf490bb0e27783ad~mv2.png" alt="" width="250px" height="250px"></a>
                <div class="media-body">
                    <a href=""><h5 class="mt-0 txt-cyan">Standard Blog Post</h5></a>
                    Sodales aliquid, in eget ac cupidatat velit autem numquam ullam ducimus occaecati placeat error.
                    <a href="" class="post-link cyan-link">Read More</a>
                    <ul>
                        <li>Ngày đăng: 01/01/2023</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>