
@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-container">
    <h1 class="section-txt-title txt-center" style="font-weight: 600;">Về chúng tôi</h1>
    <div class="about-1">
        <ul>
            <li>
                Thương hiệu PING được thành lập tại Việt Nam vào năm 2022. Trải qua 1 năm hoạt động, một nhánh của PING là <strong>PING Cosmetics</strong> được hình thành
                với mục tiêu giúp người dùng tiếp cận đến các mặt hàng mỹ phẩm một cách dễ dàng hơn.
            </li>
            <li>PING Cosmetics hứa hẹn sẽ tạo ra những trải nghiệm mua sắm trực tuyến tuyệt vời cho các khách hàng.</li>
        </ul>
    </div>
    <div class="container text-center mt-5 mb-5 ">
        <div class="row row-cols-2 row-cols-lg-3 justify-content-md-center">
            <div class="col">
                <img src="https://hotro.hasaki.vn/files/graphics/icon_hangchinhang.svg" alt="Authentic" style="filter: invert(50%) sepia(33%) saturate(5300%) hue-rotate(160deg) brightness(80%) contrast(101%);">
            </div>
            <div class="col">
                <img src="https://hotro.hasaki.vn/files/graphics/icon_safe.svg" alt="Privacy" style="filter: invert(50%) sepia(33%) saturate(5300%) hue-rotate(160deg) brightness(80%) contrast(101%);">
            </div>
            <div class="col">
                <img src="https://hotro.hasaki.vn/files/graphics/icon_doitramienphi.svg" alt="Return" style="filter: invert(50%) sepia(33%) saturate(5300%) hue-rotate(160deg) brightness(80%) contrast(101%);">
            </div>
            <div class="col"><strong>Hàng chính hãng</strong></div>
            <div class="col"><strong>Bảo mật thông tin</strong></div>
            <div class="col"><strong>Đổi trả miễn phí</strong></div>
            <div class="col">Cam kết cung cấp các sản phẩm chính hãng. Số lượng sản phẩm và dịch vụ với chủng loại đa dạng, phong phú sẽ đáp ứng nhu cầu mua sắm của quý khách.</div>
            <div class="col">Cam kết bảo mật thông tin cá nhân của khách hàng.</div>
            <div class="col">Cam kết đổi trả không mất phí. Tư vấn và hỗ trợ quý khách kịp thời, nhiệt tình theo chuẩn mực đạo đức nghề nghiệp.</div>
        </div>
    </div>
    <div class="about-2 container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <img src="https://static.vecteezy.com/system/resources/previews/006/847/447/original/make-up-cosmetics-collection-of-glamour-girl-like-nail-polish-mascara-lipstick-eyeshadows-brush-or-powder-in-flat-cartoon-illustration-vector.jpg" alt="Cosmetics" width="400px">
            </div>
            <div class="about-2-content col-6">
                <ul>
                    <li>Đến với PING Cosmetics, khách hàng sẽ được trải nghiệm việc mua sắm trực tuyến dễ dàng và nhanh chóng.</li>
                    <li>Với phương châm <span class="txt-slogan">“Chất lượng là ưu tiên hàng đầu”</span>, PING Cosmetics luôn nỗ lực không ngừng nhằm nâng cao chất lượng dịch vụ để phục vụ quý khách.</li>
                    <li>Do PING Cosmetics mới được thành lập nên cách thức hoạt động không thể tránh khỏi một số sai sót. Mong quý khách hàng sẽ góp ý vì đó chính là động lực để chúng tôi ngày càng phát triển và hoàn thiện hơn.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

