
@{
    ViewData["Title"] = "Chính sách bảo mật";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="privacy-policy-cover other-cover">
    <img src="~/user_assets/privacy-policy-cover.svg" alt="" width="1100">
</div>

<div class="privacy-policy-container other-container">
    <div class="privacy-policy-content other-content">
        <div class="privacy-policy-title other-title">
            <h1 class="page-txt-title" style="font-weight: 600; margin-top: 20px;">Chính sách bảo mật</h1>
            <hr>
        </div>
        <div class="privacy-policy-body other-body">
            <p><strong>1. GIỚI THIỆU</strong></p>
            <p>
                &emsp;1.1. Chào mừng bạn đến với website PING Cosmetics, gọi chung là PING.
                PING nghiêm túc thực hiện trách nhiệm của mình liên quan đến bảo mật thông tin theo các
                quy định về bảo vệ bí mật thông tin cá nhân của pháp luật Việt Nam và cam kết tôn trọng
                quyền riêng tư và sự quan tâm của tất cả Khách Hàng. PING gọi chung các Nền tảng và các dịch vụ PING cung cấp là "Dịch Vụ".
                Khách hàng có nghĩa là người đăng ký tài khoản với PING để sử dụng các Dịch Vụ, bao gồm cả
                người mua (gọi chung "Khách Hàng").
            </p>
            <p>
                &emsp;1.2 "Dữ Liệu Cá Nhân" là thông tin dưới dạng ký hiệu, chữ viết, hình ảnh, âm thanh hoặc dạng
                tương tự trên môi trường điện tử gắn liền với một con người cụ thể hoặc giúp xác định một
                con người cụ thể. Dữ liệu cá nhân của Người Dùng do Người Dùng cung cấp cho PING để sử dụng Dịch Vụ.
            </p>
            <p>
                &emsp;1.3 Bằng việc sử dụng Dịch Vụ, Khách Hàng đăng ký một tài khoản với PING hoặc truy cập Nền tảng,
                Khách Hàng xác nhận và đồng ý rằng bạn chấp nhận các phương pháp, yêu cầu, và/hoặc chính sách được
                mô tả trong Chính sách bảo mật này bằng cách đánh dấu vào ô đồng ý "<strong>
                    Tôi đã đọc và đồng ý với Điều kiện
                    giao dịch chung và Chính sách sách bảo mật thông tin - PING
                </strong>". Theo đó, Khách Hàng đồng ý cho phép
                PING thu thập, sử dụng, tiết lộ và/hoặc xử lý dữ liệu cá nhân của Khách Hàng như mô tả trong đây.
                Đồng thời Khách Hàng có nghĩa vụ cung cấp đầy đủ, chính xác dữ liệu cá nhân khi đồng ý cho phép xử lý dữ liệu cá nhân.
            </p>
            <p>
                <strong>
                    &emsp;NẾU KHÁCH HÀNG KHÔNG ĐỒNG Ý CHO PHÉP XỬ LÝ DỮ LIỆU CÁ NHÂN CỦA KHÁCH HÀNG NHƯ MÔ TẢ TRONG CHÍNH SÁCH NÀY,
                    VUI LÒNG KHÔNG SỬ DỤNG CÁC DỊCH VỤ CỦA PING HAY TRUY CẬP NỀN TẢNG HOẶC WEBSITE CỦA PING.
                </strong>
            </p>
            <p>
                &emsp;Nếu PING thay đổi Chính sách bảo mật, PING sẽ thông báo cho Khách Hàng bao gồm cả thông qua việc đăng tải những thay
                đổi đó hoặc Chính sách bảo mật sửa đổi trên Nền tảng của PING. Trong phạm vi pháp luật cho phép, việc Khách Hàng tiếp
                tục sử dụng các Dịch Vụ hoặc Nền Tảng Khách Hàng được xem là đã đồng ý với các thay đổi trong Chính Sách Bảo Mật này.
            </p>

            <p><strong>2. LOẠI DỮ LIỆU CÁ NHÂN ĐƯỢC THU THẬP VÀ XỬ LÝ</strong></p>
            <p>
                - Khách Hàng đồng ý cung cấp dữ liệu cá nhân cho PING <br>
                &emsp;Tùy theo từng thời điểm cụ thể, theo quy định pháp luật, PING sẽ thu thập, xử lý một/một số/tất cả các dữ liệu cá nhân sau: <br>
                &emsp;&bull; Họ tên, giới tính, địa chỉ thư điện tử (email), số điện thoại, địa chỉ; <br>
                &emsp;&bull; Thông tin đăng nhập tài khoản bao gồm thông tin bất kỳ cần thiết để thiết lập tài khoản ví dụ như tên đăng nhập, mật khẩu đăng nhập, ngày, tháng, năm sinh, ID/địa chỉ đăng nhập; <br>
                &emsp;&bull; Thông tin đăng nhập tài khoản bao gồm thông tin bất kỳ cần thiết để thiết lập tài khoản ví dụ như tên đăng nhập, mật khẩu đăng nhập, ngày, tháng, năm sinh, ID/địa chỉ đăng nhập; <br>
                &emsp;&bull; Địa chỉ thanh toán và/hoặc giao nhận hàng hóa; <br>
                &emsp;&bull; Hình ảnh hoặc âm thanh hoặc video của Khách Hàng; <br>
                &emsp;&bull; Thông tin sử dụng và giao dịch, bao gồm lịch sử tìm kiếm, giao dịch, quảng cáo và nội dung hiển thị có tương tác với Nền Tảng, cũng như các sản phẩm và dịch vụ có liên quan của Khách Hàng; <br>
                &emsp;&bull; Dữ liệu về vị trí, địa điểm; <br>
                &emsp;&bull; Bất kỳ thông tin nào khác về Khách Hàng khi Khách Hàng đăng nhập để sử dụng Các Dịch Vụ hoặc Nền tảng của PING, và khi Khách Hàng sử dụng Các Dịch Vụ hoặc Nền tảng, cũng như thông tin về
                việc Khách Hàng sử dụng Các Dịch Vụ hoặc Nền tảng của PING như thế nào; <br>
                &emsp;&bull; Dữ liệu tổng hợp về nội dung Khách Hàng sử dụng; <br>
                &emsp;&bull; Các thông tin khác có liên quan, ảnh hưởng (trực tiếp/gián tiếp) hoặc phát sinh từ/liên quan đến việc xác lập quan hệ giữa Khách Hàng và PING. <br>
                - Khách Hàng tương tác với PING, PING sử dụng cookies và công nghệ theo dấu khác để thu thập một số thông tin khi Khách Hàng tương tác trên website.
            </p>

            <p><strong>3. MỤC ĐÍCH THU THẬP, XỬ LÝ DỮ LIỆU CÁ NHÂN</strong></p>
            <p>
                - Xử lý đơn hàng: xử lý các vấn đề liên quan đến đơn đặt hàng của Khách Hàng như: gọi điện/tin nhắn xác nhận việc đặt hàng, thông báo về trạng thái đơn hàng & thời gian giao hàng, xác nhận việc huỷ đơn hàng (nếu có). <br>
                - Cung cấp các dịch vụ cho Khách Hàng như: xác nhận lịch đặt hẹn dịch vụ, nhắc lịch bảo hành, chăm sóc khách hàng, tư vấn/hỗ trợ sau khi thực hiện dịch vụ. <br>
                - Gởi thư ngỏ/thư cảm ơn, giới thiệu sản phẩm mới, dịch vụ mới hoặc các chương trình khuyến mãi của PING. <br>
                - Tạo và duy trì tài khoản của Khách Hàng, bao gồm cả các chương trình khách hàng thân thiết hoặc các chương trình thưởng đi kèm với tài khoản của Khách Hàng. <br>
                - Dịch Vụ Chăm Sóc Khách Hàng: bao gồm các phản hồi cho các yêu cầu, khiếu nại và phản hồi của Khách Hàng. <br>
                - Cá Nhân Hóa: PING xử lý dữ liệu được thu thập để có một cái nhìn hoàn chỉnh hơn về một người tiêu dùng và từ đó cho phép PING phục vụ tốt hơn với sự cá nhân hóa mạnh hơn ở các khía cạnh, bao gồm nhưng không giới hạn:<br>
                &emsp;&bull; Để cải thiện và cá nhân hóa trải nghiệm của Khách Hàng trên website.<br>
                &emsp;&bull;Để cải thiện các tiện ích, dịch vụ, điều chỉnh chúng phù hợp với các nhu cầu được cá thể hóa và đi đến những ý tưởng dịch vụ mới.<br>
                &emsp;&bull;Để phục vụ Khách Hàng với những giới thiệu, quảng cáo được điều chỉnh phù hợp với sự quan tâm của Khách Hàng.<br>
                - An Ninh: cho các mục đích ngăn ngừa các hoạt động phá hủy tài khoản Người Dùng hoặc các hoạt động giả mạo Khách Hàng.<br>
                - Theo yêu cầu của pháp luật: tùy quy định của pháp luật vào từng thời điểm, PING có thể thu thập, lưu trữ và cung cấp dữ liệu cá nhân của Khách Hàng theo yêu cầu của cơ quan nhà nước có thẩm quyền. <br>
            </p>

            <p><strong>4. THỜI GIAN LƯU TRỮ THÔNG TIN</strong></p>
            <p>&emsp;Thông tin cá nhân của Khách Hàng sẽ được lưu trữ cho đến khi Khách Hàng có yêu cầu hủy bỏ. Trong mọi trường hợp thông tin cá nhân của khách hàng sẽ được bảo mật trên máy chủ của PING.</p>

            <p><strong>5. CHIA SẺ DỮ LIỆU CÁ NHÂN</strong></p>
            <p>
                &emsp;PING sẽ không cung cấp thông tin cá nhân của Khách Hàng cho bất kỳ bên thứ ba nào, trừ một số hoạt động cần thiết dưới đây:<br>
                - Các đối tác là bên cung cấp dịch vụ cho PING liên quan đến thực hiện đơn hàng và chỉ giới hạn trong phạm vi thông tin cần thiết cũng như áp dụng các quy định đảm bảo an ninh, bảo mật các thông tin cá nhân.<br>
                - Các đối tác là nhà sản xuất, nhà cung cấp, nhãn hàng, đơn vị tư vấn v.v,... liên quan đến việc cung cấp, phân phối sản phẩm, hỗ trợ, hướng dẫn, giải quyết kiếu nại, bồi thường, v.v,... cho Khách Hàng liên quan đến sử dụng sản phẩm, dịch vụ.<br>
                - PING có thể sử dụng dịch vụ từ một nhà cung cấp dịch vụ là bên thứ ba để thực hiện một số hoạt động liên quan đến website, ứng dụng bán hàng PING và khi đó bên thứ ba này có thể truy cập hoặc xử lý các thông tin cá nhân
                trong quá trình cung cấp các dịch vụ đó. PING yêu cầu các bên thứ ba này tuân thủ mọi luật lệ về bảo vệ thông tin cá nhân liên quan và các yêu cầu về an ninh liên quan đến thông tin cá nhân.<br>
                - Các cơ quan Nhà nước có thẩm quyền theo quy định pháp luật.PING có thể tiết lộ các dữ liệu cá nhân nếu điều đó do luật pháp yêu cầu và việc tiết lộ như vậy là cần thiết một cách hợp lý để tuân thủ các quy định pháp luật.<br>
            </p>

            <p><strong>6. ĐỊA CHỈ CỦA ĐƠN VỊ THU THẬP VÀ QUẢN LÝ DỮ LIỆU CÁ NHÂN</strong></p>
            <p>
                <strong>&emsp;PING Cosmetics</strong><br>
                - Địa chỉ: Phường Linh Trung, Thành phố Thủ Đức, Thành phố Hồ Chí Minh<br>
                - Điện thoại: 0123-456-789<br>
            </p>

            <p><strong>7. QUYỀN VÀ NGHĨA VỤ CỦA KHÁCH HÀNG</strong></p>
            <p><strong>&emsp;7.1. Yêu cầu truy cập, chỉnh sửa dữ liệu cá nhân</strong></p>
            <p>
                &emsp;Khách Hàng có quyền truy cập để xem, tự kiểm tra, cập nhật, chỉnh sửa dữ liệu cá nhân của mình
                bằng cách đăng nhập vào tài khoản và chỉnh sửa thông tin cá nhân như: ảnh đại diện; tên; giới tính; ngày, tháng, năm sinh; số điện thoại; mật khẩu.
            </p>
            <p><strong>&emsp;7.2. Rút lại sự đồng ý, xóa dữ liệu</strong></p>
            <p>
                - Khách Hàng có quyền rút lại sự đồng ý cho phép thu thập, sử dụng và/hoặc tiết lộ và/hoặc
                yêu cầu xóa dữ liệu cá nhân của mình mà PING đang lưu giữ hoặc kiểm soát.<br>
                - PING sẽ xử lý các yêu cầu này theo Chính Sách Bảo Mật cũng như quy định pháp luật có liên quan. Tuy nhiên, việc Khách Hàng rút lại sự cho phép của Khách Hàng đồng nghĩa
                với việc PING sẽ không thể tiếp tục cung cấp các Dịch vụ đến Khách Hàng và PING có thể cần phải chấm dứt mối quan hệ hiện tại giữa Khách Hàng và/hoặc hợp đồng mà Khách Hàng có với PING.<br>
                - Khách Hàng có nghĩa vụ tự bảo vệ dữ liệu cá nhân của mình; Tôn trọng, bảo vệ dữ liệu cá nhân của người khác; Cung cấp đầy đủ, chính xác dữ liệu cá nhân khi đồng ý cho phép
                xử lý dữ liệu cá nhân.<br>
            </p>
        </div>
    </div>
</div>

