
@{
    ViewData["Title"] = "Chính sách đổi trả";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="privacy-policy-cover other-cover">
    <img src="~/user_assets/return-policy-cover.svg" alt="" width="1100">
</div>

<div class="return-policy-container other-container">
    <div class="return-policy-content other-content">
        <div class="return-policy-title other-title">
            <h1 class="page-txt-title" style="font-weight: 600; margin-top: 20px;">Chính sách đổi trả</h1>
            <hr>
        </div>
        <div class="return-policy-body other-body" style="text-align: justify; padding: 30px">
            <p><strong>1. Chính sách đổi trả</strong></p>
            <hr style="opacity: 30%;">
            <table class="tb-return">
                <thead>
                    <tr>
                        <th></th>
                        <th>Sản phẩm lỗi (Từ phía nhà cung cấp)</th>
                        <th>Sản phẩm lỗi (Từ phía người sử dụng)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>1 - 14 ngày</strong></td>
                        <td>Đổi trả không thu phí</td>
                        <td>Không hỗ trợ đổi trả</td>
                    </tr>
                    <tr>
                        <td><strong>Từ 15 ngày</strong></td>
                        <td colspan="2">Không hỗ trợ đổi trả</td>
                    </tr>
                </tbody>
            </table>

            <p><strong>2. Các trường hợp nhận đổi trả</strong></p>
            <hr style="opacity: 30%;">
            <ul>
                <li>Sản phẩm mắc lỗi từ phía nhà sản xuất (hỏng hóc, đổ vỡ sản phẩm, bị lỗi kỹ thuật…).</li>
                <li>Sản phẩm bị hư hỏng, trầy xước do quá trình vận chuyển của nhân viên giao hàng.</li>
                <li>Sản phẩm đã hết hoặc gần hết thời hạn sử dụng.</li>
                <li>Sản phẩm không đúng như yêu cầu của khách hàng do PING Cosmetics soạn sai sản phẩm hoặc lấy nhầm tông màu, loại sản phẩm.</li>
                <li>Sản phẩm còn nguyên vỏ hộp, tem nhãn và chưa qua sử dụng.</li>
            </ul>

            <p><strong>3. Các trường hợp không áp dụng đổi trả</strong></p>
            <hr style="opacity: 30%;">
            <ul>
                <li>Sản phẩm quà tặng, các sản phẩm trong chương trình giảm giá đặc biệt.</li>
                <li>Sản phẩm đã quá hạn đổi trả (14 ngày).</li>
                <li>Sản phẩm đã bị bóc tem nhãn, seal nếu có.</li>
                <li>Sản phẩm khách đã thử hoặc qua sử dụng từ 1 lần trở lên.</li>
                <li>Bao bì, vỏ hộp sản phẩm bị hư hỏng, trầy xước do lỗi từ phía khách hàng.</li>
                <li>Sản phẩm không phải mua từ PING Cosmetics.</li>
            </ul>

            <p><strong>4. Cách thức đổi trả</strong></p>
            <hr style="opacity: 30%;">
            <ul>
                <li>PING Cosmetics nhận đổi trả sản phẩm cho khách hàng trong vòng 14 ngày, tính kể từ ngày khách hàng mua hoặc nhận được sản phẩm từ bên giao hàng.</li>
                <li>Khách hàng cần phải thông báo cho nhân viên lý do đổi trả và địa chỉ, số điện thoại liên lạc chính xác để PING Cosmetics có thể thực hiện quy trình đổi trả sản phẩm một cách nhanh chóng nhất theo yêu cầu của quý khách.</li>
                <li>PING Cosmetics quan tâm đến sự hài lòng của khách hàng và mong muốn nâng cao chất lượng dịch vụ, PING Cosmetics nhận đổi trả sản phẩm miễn phí cho khách hàng theo đúng quy định nêu trên. </li>
            </ul>
        </div>
    </div>
</div>

