
@{
    ViewData["Title"] = "Điều khoản sử dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="terms-of-use-cover other-cover">
    <img src="~/user_assets/terms-of-use-cover.svg" alt="" width="1100">
</div>

<div class="terms-of-use-container other-container">
    <div class="terms-of-use-content other-content">
        <div class="terms-of-use-title other-title">
            <h1 class="page-txt-title" style="font-weight: 600; margin-top: 20px;">Điều khoản sử dụng</h1>
            <hr>
        </div>
        <div class="terms-of-use-body other-body">
            <div class="question-1 question">
                <div class="question-1-title question-title" onclick="toggleAnswer(1)">
                    <span><strong>Quy định sử dụng</strong></span>
                    <i class="fa-solid fa-angle-down right"></i>
                    <hr>
                </div>
                <div class="question-1-answer question-answer">
                    <p>
                        Khi khách hàng vào website của PING Cosmetics với tư cách khách viếng thăm hay
                        thành viên đã đăng ký, xin vui lòng đọc kỹ quy định sử dụng. PING có
                        quyền thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong Điều
                        khoản sử dụng này, vào bất cứ lúc nào. Các thay đổi có hiệu lực ngay khi
                        được đăng trên website mà không cần thông báo trước và quý khách
                        có trách nhiệm phải cập nhật website thường xuyên để theo dõi
                        các thông tin được đăng để có thể cập nhật kịp thời. Việc bạn tiếp tục
                        sử dụng trang sau khi những thay đổi đó được đăng đồng nghĩa
                        với việc bạn đã đồng ý với những sửa đổi trong Quy định sử dụng. <br><br>

                        PING không chịu trách nhiệm về chất lượng đường truyền Internet ảnh hưởng
                        đến tốc độ truy cập của bạn vào website của PING Cosmetics.
                    </p>
                </div>
            </div>
            <div class="question-2 question">
                <div class="question-2-title question-title" onclick="toggleAnswer(2)">
                    <span><strong>Quy định và hướng dẫn liên quan đến khách hàng</strong></span>
                    <i class="fa-solid fa-angle-down right"></i>
                    <hr>
                </div>
                <div class="question-2-answer question-answer">
                    <p>
                        Khách hàng phải đảm bảo đủ 18 tuổi, hoặc truy cập dưới sự giám sát của cha mẹ
                        hay người giám hộ hợp pháp. Khách hàng đảm bảo có đầy đủ hành vi dân sự để thực
                        hiện các giao dịch mua bán hàng hóa theo quy định hiện hành của pháp luật Việt Nam.<br><br>

                        PING có quyền hỏi thêm về thông tin khách hàng khi xác nhận đơn hàng để đảm
                        bảo mọi thông tin liên lạc về đơn hàng được xử lý chính xác nhất.<br><br>

                        PING sẽ cấp một tài khoản sử dụng để khách hàng có thể mua sắm trong
                        khuôn khổ Điều khoản và Điều kiện sử dụng đã đề ra. Quý khách hàng sẽ phải
                        đăng ký tài khoản với thông tin xác thực về bản thân và phải cập nhật nếu
                        có bất kỳ thay đổi nào. Mỗi người truy cập phải có trách nhiệm với mật khẩu,
                        tài khoản và hoạt động của mình trên website.<br><br>

                        Nghiêm cấm sử dụng bất kỳ phần nào của trang website với mục đích thương mại
                        hoặc nhân danh bất kỳ đối tác thứ ba nào nếu không được PING cho phép bằng văn bản.
                        Nếu vi phạm bất cứ điều nào trong đây, PING sẽ hủy tài khoản của khách mà không cần báo trước.<br><br>

                        Tất cả nội dung tại website và ý kiến phê bình của Quý khách đều
                        là tài sản của chúng tôi. Nếu chúng tôi phát hiện bất kỳ thông tin giả mạo
                        nào, chúng tôi sẽ khóa tài khoản của quý khách ngay lập tức hoặc áp dụng
                        các biện pháp khác theo quy định của pháp luật Việt Nam.
                    </p>
                </div>
            </div>
            <div class="question-3 question">
                <div class="question-3-title question-title" onclick="toggleAnswer(3)">
                    <span><strong>Chấp nhận đơn hàng, giá cả và điều khoản bất khả kháng</strong></span>
                    <i class="fa-solid fa-angle-down right"></i>
                    <hr>
                </div>
                <div class="question-3-answer question-answer">
                    <p>
                        PING luôn luôn nỗ lực để đảm bảo rằng mọi thông tin và tài liệu trên
                        website là chính xác. Tuy nhiên, không có đảm bảo hay mô tả nào,
                        dù là được nêu rõ hay ngụ ý, được đưa ra để chắc chắn rằng mọi thông tin
                        và tài liệu là hoàn thiện, chính xác, mới nhất, phù hợp cho mục đích cụ thể
                        và trong phạm vi cho phép.
                    </p>
                </div>
            </div>
            <div class="question-4 question">
                <div class="question-4-title question-title" onclick="toggleAnswer(4)">
                    <span><strong>Thay đổi hoặc hủy bỏ giao dịch</strong></span>
                    <i class="fa-solid fa-angle-down right"></i>
                    <hr>
                </div>
                <div class="question-4-answer question-answer">
                    <p>
                        Khách hàng có trách nhiệm cung cấp thông tin đầy đủ và chính xác khi tham gia
                        giao dịch tại website. Trong trường hợp khách hàng nhập sai thông tin
                        PING có quyền từ chối thực hiện giao dịch.

                        Trong trường hợp bạn muốn khiếu nại về sản phẩm PING mong bạn có thể
                        hợp tác bằng cách cung cấp thông tin càng chi tiết càng tốt về tình trạng
                        sản phẩm và các thông tin liên quan đến việc mua hàng như mã đơn hàng,
                        xác nhận đơn hàng, hóa đơn mua hàng.

                        Quý khách có thể tham khảo thêm về quy định đổi trả hàng qua Chính sách đổi trả
                        để PING có thể phục vụ khách hàng tốt nhất.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleAnswer(x) {
        var answer = document.querySelector('.question-' + x + '-answer')
        var questionIcon = document.querySelector('.question-' + x + '-title i')
        if (answer.style.display === "block") {
            answer.style.display = "none";
            questionIcon.className = "fa-solid fa-angle-down right"
        } else {
            answer.style.display = "block";
            questionIcon.className = "fa-solid fa-angle-up right"
        }
    }
</script>