@model Ecommerce.Models.Product

@{
    ViewData["Title"] = "Ẩn sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" class="breadcrumb-item">Quản lý sản phẩm</a>
            <span class="breadcrumb-item active">Ẩn sản phẩm</span>
        </nav>
    </div>
</div>

<h3>Ẩn sản phẩm</h3>
<br />

<h4 class="text-danger">Xác nhận ẩn sản phẩm</h4>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin sản phẩm</h4>
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                    <img src="~/uploads/products/@Model.ProductImage" alt="@Model.ProductName">
                </div>
                <div class="m-l-15">
                    <h5 class="m-b-0">@Model.ProductName</h5>
                    <p class="text-muted m-b-0">ID sản phẩm: @Model.ProductId</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="font-weight-semibold" asp-for="IsActive">Trạng thái</label>
            @if (Model.IsActive == true)
            {
                <div class="form-control">Available</div>
            }
            else
            {
                <div class="form-control">Unavailable</div>
            }
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="ProductId" />
    <a asp-action="Index" class="btn btn-primary">Quay lại</a> |
    <input type="submit" value="Ẩn sản phẩm" class="btn btn-danger" />
</form>
